header{
    background: #a869e7;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem;
    transition: top,left,padding.6s;
    z-index: 1000;
}

 header.sticky{
    padding: 1rem 6rem;
    border-bottom: 1px solid #985fd1;
}

header .logo{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: whitesmoke;
    font-family: 'Palette Mosaic', cursive;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

header ul li{
    margin:0 1rem;
}

header ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    letter-spacing: 1px;
}

.menu-icon{
    display: none;
}

 @media only screen and (max-width:810px){
    header{
        padding:1.8rem 6rem;
    }

    .hide-menu{
        left: 200%;
        transition: left .2s cubic-bezier( 0.785, 0.135, 0.15, 0.86 );
    }

    .show-menu{
        left: 0;
        transition: left .4s cubic-bezier( 0.785, 0.135, 0.15, 0.86 );
    }

    header ul{
        position:fixed;
        top:4rem;
        left: 0;
        background-color: #a869e7;
        width: 100%;
        flex-direction: column; 
        padding:2.2rem;
        z-index: -1;
        box-shadow: 0 1px 0 0 #9a60d3;
    }

    header ul li{
        display: flex;
        justify-content: center;
        margin:1rem;
        width: 100%;
    }

    header ul li a{
        display: block;
        padding: .5rem 1rem;
        text-transform: uppercase;
        font-size: 1.1rem;
    }

    .menu-icon{
        display: inline-block;
        color: whitesmoke;
        font-size: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width:500px){
    header .logo{
        font-size: 1.5rem;
    }

    header.sticky{
        padding: 1rem 2rem;
        border-bottom: 1px solid #985fd1;
    }

    .menu-icon{
        font-size: 1.5rem;
    }

    header{
        padding: 1.8rem 3rem;
    }

}