.tech-main{
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    height: auto;
    padding:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tech-image{
   
    width: 50%;
    height: 50%;
}
 
.tech-image img{
    width:60%;
    height: auto;
}

.tech-content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.tech-content ul li{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 1rem;
}

.tech-icon{
    margin-right: 1rem;
    font-size: 1.3rem;
    color:#a869e7;
}

@media only screen and (max-width:750px){
    .tech-image{
        width:60%;
    }
    .tech-image img{
        width: 100%;
    }
}


@media only screen and (max-width:650px) {
    .tech-container{
        flex-direction: column;
    }
    .tech-image{
        width:70%;
        margin-bottom: 2rem;
    }

    .tech-content ul li{
        font-size: 1.2rem;
    }
}