.main-banner{
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom,#a869e7,#b77ff0);
    background-attachment: fixed;
    padding-top:7rem;
}

.inner-banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem 6rem;
}

.inner-banner h1{
    color: aliceblue;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.type-effect div{
    margin: 2rem 0;
    font-size: 2rem;
    text-align: start;
}

.inner-banner p{
    font-weight: 300;
    margin: 2rem 0;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
}

.banner-btn button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: #a869e7;
    font-weight: bold;
    margin-bottom: 1rem;
}

.banner-btn button:hover{
    box-shadow:1px 1px 10px 1px #115481;
    transition: box-shadow .2s;
}

.inner-banner::after{
    content: " ";
    background-image: url("./wave5.svg");
    width: 100%;
    height: 25%;
    background-size: cover;
    bottom: 0;
    right: 0;
    display: block;
    position: absolute;
    opacity: .6;
}

@media only screen and (max-width:450px){
    .inner-banner{
        padding:2rem
    }
    .type-effect div{
        font-size: 1.6rem;
    }
    .banner-btn button{
        padding:1rem;
    }
    .inner-banner::after{
        display: none;
    }
}